includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src

    level: 5

    ignoreErrors:
        - '#Call to an undefined static method .+::marks\(\)#'
        - '#Trait .+ is used zero times and is not analysed#'
